**Insert into array**

In [ ]:
def insert(s, index, value, size):
  if (size == len(s)):
    print('No space in array')
    return
  if (index < 0 or index > size):
    print('Wrong index!')
    return
  for i in range(size-1, -1, -1):
    if i != index:
      s[i+1] = s[i]
    else:
      s[i+1] = s[i]
      s[i] = value
      break
  return s

source = [10, 20, 30, 40, 50, 0, 0, 0]
insert(source, 2, 200, 5)

[10, 20, 200, 30, 40, 50, 0, 0]

**Reverse in place using while**

In [ ]:
def reverse(s):
  j = len(s)-1
  i = 0
  while (i<j):
    temp = s[j]
    s[j] = s[i]
    s[i] = temp
    i = i+1
    j = j-1
  return s

source = [60, 50, 40, 30, 20, 10]
reverse(source)

[10, 20, 30, 40, 50, 60]

**Reverse in place using for**

In [ ]:
def reverse(s):
  j = len(s)-1
  x = (j/2)+1
  for i in range(int(x)):
    temp = s[j]
    s[j] = s[i]
    s[i] = temp
    j = j-1
  return s

source = [50, 40, 30, 20, 10]
reverse(source)

[10, 20, 30, 40, 50]

**Right Rotate by 1**

In [ ]:
def rightRotate(s):
  i = len(s)-1
  x = s[len(s)-1]
  while i > 0 :
    s[i] = s[i-1]
    i -= 1
  s[0] = x
  return s

source = [10, 20, 30, 40, 50, 60, 70]
rightRotate(source)

[70, 10, 20, 30, 40, 50, 60]

**Right Rotate by k**

In [ ]:
def rightRotateByk(s, k):
  for i in range(k):
    j = len(s)-1
    x = s[len(s)-1]
    while j > 0:
      s[j] = s[j-1]
      j -= 1
    s[0] = x
  return s

source = [10, 20, 30, 40, 50, 60, 70]
rightRotateByk(source, 3)

[50, 60, 70, 10, 20, 30, 40]

**Removing from a certain index**

In [ ]:
def remove(s, index, size):
  if (size == len(s)):
    print('No space in array')
    return
  if (index < 0 or index > size):
    print('Wrong index!')
    return
  for i in range(index, len(s)-1):
    if i < len(s)-2:
      s[i] = s[i+1]
    else:
      s[i] = 0
  return s

source = [10, 20, 30, 40, 50, 0, 0, 0]
remove(source, 2, 5)

[10, 20, 40, 50, 0, 0, 0, 0]

**Circular Reverse Traverse**

In [ ]:
def circularTraverseRev(s, start, size):
  start = (start + size) % len(s) - 1
  for i in range(size):
    print(s[start])
    start -= 1

source = [0,0,60,70,10,20,30,40,50]
circularTraverseRev(source,2,7)

50
40
30
20
10
70
60

**Circular Forward Traverse**

In [ ]:
def circularTraverse(s, start, size):
  for i in range(size):
    print(s[start])
    start = (start + 1) % len(s)

source = [60,70,0,10,20,30,40,50]
circularTraverse(source,3,7)

10
20
30
40
50
60
70

**Convert linear to circular**

In [ ]:
def createCircular(s, start, size):
  circle = [0]*len(s)
  for i in range(size):
    circle[start] = s[i]
    start = (start + 1) % len(s)
  return circle

source = [10, 20, 30, 40, 50, 60, 0, 0, 0, 0]
cl = createCircular(source, 8, 6)
print(cl)

[30, 40, 50, 60, 0, 0, 0, 0, 10, 20]

**Resizing len of circular array**

In [ ]:
def resize(s, start, size, n):
  resized = [0]*(len(s)+n)
  startre = start
  for i in range(size):
    resized[startre] = s[start]
    startre = (startre + 1) % len(resized)
    start = (start + 1) % len(s)
  return resized

source = [20,30,40,50,10]
re = resize(source, 4, 5, 2)
print(re)

[40, 50, 0, 0, 10, 20, 30]

**Insert into circular array using slice**

In [ ]:
def circularinsert(s, start, size, value):
  if size < len(s):
    index = (start + size) % len(s)
    s[index] = value
  else:
    index = (start + size) % len(s)
    pt1 = s[0:index]
    pt2 = s[index:len(s)]
    pt1.append(value)
    s = pt1 + pt2
  size += 1
  return s

source = [20,30,40,50,10]
new = circularinsert(source, 4, 5, 60)
print(new)

[20, 30, 40, 50, 60, 10]

**Insert in between and certain index**

In [ ]:
def insertinbetween(s, value, index, start, size):
  if size < len(s):
    temp = s[len(s)-1]
    i = len(s)-1
    while i > 0:
      if i > index or i < start:
        s[i] = s[i-1]
      i -= 1
    s[0] = temp
    s[index] = value
    size += 1
    return s
source = [50, 60, 0, 0, 10, 20, 30, 40]
insertinbetween(source, 27, 6, 4, 6)

[40, 50, 60, 0, 10, 20, 27, 30]

**Shift Left by k**

In [ ]:
def shiftLeft(source, k):
  m = len(source)-1
  for i in range (k):
    j = 0
    while (j<len(source)-1):
      source[j] = source[j+1]
      j += 1
    source[m] = 0
    m -= 1
  return source

source = [10,20,30,40,50,60]
shiftLeft(source, 3)

[40, 50, 60, 0, 0, 0]

**Rotate Left by k**

In [ ]:
def rotateLeft(source, k):
  for i in range(k):
    x = source[0]
    j = 0
    while (j<len(source)-1):
      source[j] = source[j+1]
      j += 1
    source[len(source)-1] = x
  return source

source = [10,20,30,40,50,60]
rotateLeft(source, 3)

[40, 50, 60, 10, 20, 30]

**Remove from certain index**

In [ ]:
def remove(source, size, idx):
  for i in range(idx, len(source)-1):
    source[i] = source[i+1]
  return source

source=[10,20,30,40,50,0,0]
remove(source,5,2)

[10, 20, 40, 50, 0, 0, 0]

**Remove particular Occurrence**

In [ ]:
def removeAll(source, size, element):
  i = 0
  while i < len(source):
    if source[i] == element:
      j = i
      i -= 1
      while (j<len(source)-1):
        source[j] = source[j+1]
        j += 1
    i += 1
  return source

source=[10,2,30,2,50,2,2,60,0,0]
removeAll(source,8,2)

[10, 30, 50, 60, 0, 0, 0, 0, 0, 0]

**Splitting and check equality**

In [ ]:
def rightBiased(source):
  x = int(len(source)/2)
  a = 0
  for i in range(x):
    a += source[i]
  b = 0
  for j in range(x, len(source)):
    b += source[j]
  if a==b:
    return True
  else:
    return False

def leftBiased(source):
  x = int((len(source)/2)+1)
  a = 0
  for i in range(x):
    a += source[i]
  b = 0
  for j in range(x, len(source)):
    b += source[j]
  if a==b:
    return True
  else:
    return False

def splitArray(source):
  if leftBiased(source) or rightBiased(source):
    return True
  else:
    return False

source = [1, 1, 1, 2, 1]
splitArray(source)

True

**Series of n**

In [ ]:
def arraySeries(n):
  l = [[0]*n for i in range(n)]
  for j in range(len(l)):
    m = -1
    for k in range(j+1):
      l[j][m] = k+1
      m -= 1
  return l

arraySeries(3)

[[0, 0, 1], [0, 2, 1], [3, 2, 1]]

**Counting max bunch**

In [ ]:
def maxBunchCount(source):
  max = 0
  elem = 0
  c = 0
  for i in range(len(source)):
    if source[i] != elem:
      c = 1
      elem = source[i]
    else:
      c += 1
      if c >= max:
        max = c
  return max

source = [1, 2, 2, 3, 4, 4, 4]
maxBunchCount(source)

3

**Repetition Check**

In [ ]:
def repeat(source):
  dic = {}
  for i in range(len(source)):
    if source[i] not in dic.keys():
      dic[source[i]] = 0
      j = i
      while(j<len(source)):
        if source[j] == source[i]:
          dic[source[i]] += 1
        j += 1
  
  l = []
  for i in dic.values():
    if i > 1:
      l.append(i)
  
  for i in range(len(l)-1):
    if l[i] == l[i+1]:
      return True
      break
    else:
      return False

source = [4,5,6,6,4,3,6,4]
repeat(source)

True

**Circular Palindrome**

In [ ]:
def palindrome(source, start, size):
  l = []
  for i in range(size):
    l.append(source[start])
    start = (start + 1) % len(source)
  x = int(len(l)/2)
  pt1 = l[0:x]
  pt2 = []
  j = len(l)-1
  if len(l)%2 == 0:
    while (j>x-1):
      pt2.append(l[j])
      j -= 1
  else:
    while (j>x):
      pt2.append(l[j])
      j -=1
  if pt1 == pt2:
    return True
  else:
    return False

source = [10,20,0,0,0,10,20,30]
palindrome(source, 5, 5)

False

**Common elements**

In [ ]:
def intersection(ca1, ca2, start_1, size_1, start_2, size_2):
  l = []
  for i in range(size_1):
    turn = start_2
    for j in range(size_2):
      if ca1[start_1] == ca2[turn]:
        l.append(ca2[turn])
      turn = (turn+1) % len(ca2)
    start_1 = (start_1+1) % len(ca1)
  return l

ca1 = [40,50,0,0,0,10,20,30]
ca2 = [10,20,5,0,0,0,0,0,5,40,15,25]
start_1 = 5
start_2 = 8
size_1 = 5
size_2 = 7
intersection(ca1, ca2, start_1, size_1, start_2, size_2)

[10, 20, 40]

**Musical Chair Game**

In [23]:
import random
def musicChair(source):
  while(len(source)>1):
    x = random.randrange(4)
    
    if x != 1:
      i = len(source) - 1
      t = source[i]
      while (i>0):
        source[i] = source[i-1]
        i -= 1
      source[0] = t
      print(x)
      print(source)
    else:
      i = int(len(source)/2) - 1
      source.pop(i)
      print(x)
      print(source)

source = ['x', 'y', 'z', 'a', 'b', 'c', 'd']
musicChair(source)

1
['x', 'y', 'a', 'b', 'c', 'd']
2
['d', 'x', 'y', 'a', 'b', 'c']
1
['d', 'x', 'a', 'b', 'c']
3
['c', 'd', 'x', 'a', 'b']
1
['c', 'x', 'a', 'b']
2
['b', 'c', 'x', 'a']
0
['a', 'b', 'c', 'x']
0
['x', 'a', 'b', 'c']
2
['c', 'x', 'a', 'b']
2
['b', 'c', 'x', 'a']
0
['a', 'b', 'c', 'x']
3
['x', 'a', 'b', 'c']
1
['x', 'b', 'c']
0
['c', 'x', 'b']
0
['b', 'c', 'x']
1
['c', 'x']
0
['x', 'c']
0
['c', 'x']
1
['x']